@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 1.4rem;
    font-family:'Quicksand', sans-serif;
    color: white;
}

html {
    
    font-size: 62.5%; /* 1rem = 10px */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;

}

.navbar-desktop {
    height: 8rem; /* 80px */
    line-height: 8rem; /* centre verticalement */
    text-align: center; /* centre horizontalement */
}

/* style des liens */
.navbar-desktop a {
    padding: 3rem;
}

.navbar-mobile i {
    cursor: pointer;
    position: fixed;
    top: 9px;
    right: 15px;
    font-size: 3rem;
    color: red; /* couleur provisoire */
}

.navbar-mobile .modal {
    background-color: #F92995;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
}

.navbar-mobile .navbar-mobile-list{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-mobile .navbar-mobile-list a {
    font-size: 5rem;
    font-weight: 800;
    color: #1E2337;
    padding: 2rem;
}

/* STYLE MENU MOBILE */
.navbar-mobile {
    display: none;
}

.navbar-mobile i {
    position: fixed;
    z-index: 9999;
    top: 9px;
    right: 15px;
    font-size: 3rem;
    color: white;
}

.change-modal {
    top: 0;
}

.modal {
    background-color: #F92995;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    opacity: 0.9;
}

.hide-nav {
    display: none;
}

.banniere-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.reduct-text {
    font-size: 1.5em;
}



/* --- MEDIA QUERIES --- */

@media screen and (max-width: 700px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    .reduct-text {
        display: none;
    }
}
